        body {
    background-image: url(https://backgroundcheckall.com/wp-content/uploads/2018/10/image-for-website-background_12790.jpg);
    background-size: cover;
    }
        #main p {
	color:black;
    line-height: 1.5pt;
	font-family:serif;
	font-size:1.15em;
    text-align: center;
    }
        
        #main h1 {
	color: cadetblue;
    font-family: Trebuchet MS;
    font-style: oblique
    text-align: center;
    font-size: 3em;
    }
        
        article {
	color:black;
	font-family:serif;
    font-style: italic;
	font-size:1.5em;
    text-align: center;
    }
        
        h1 {
    color: paleturquoise;
    font-family: Trebuchet MS;
    text-align: center;
    font-size: 3.1em;    
    }

        .harapan {
    color: darkgoldenrod;
    font-family: sans-serif;
    font-size: 20pt;
    margin-top: 1.18em;
    margin-left: 1.5em;
    text-align: left;
}

        .harapanans {
    color: black;
    font-family: Times New Roman;
    font-size: 1.1em;
    text-align: left
    margin-left: 1.5em;
    margin-right: 1.5em;
}

        .aligncenter {
    text-align: center;
    }