        body {
    background-image: url(https://backgroundcheckall.com/wp-content/uploads/2018/10/image-for-website-background_12790.jpg);
    background-size: cover;
    }
        #main p {
	color:black;
    line-height: 1.5pt;
	font-family:serif;
	font-size:1.15em;
    text-align: center;
    line-height: 1.6;
    }
        
        #main h1 {
	color: cadetblue;
    font-family: Trebuchet MS;
    font-style: oblique;
    text-align: center;
    font-size: 3em;
    }
        
        article {
	color:black;
	font-family:serif;
    font-style: italic;
	font-size:1.5em;
    text-align: center;
    }
        
        h1 {
    color: paleturquoise;
    font-family: Trebuchet MS;
    text-align: center;
    font-size: 3.1em;    
    }

        .harapan {
    color: darkgoldenrod;
    font-family: sans-serif;
    font-size: 20pt;
    margin-top: 1.18em;
    margin-left: 1.5em;
    text-align: left;
}

        .harapanans {
    color: black;
    font-family: Times New Roman;
    font-size: 1.1em;
    text-align: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

        .aligncenter {
    text-align: center;
    }

        .peng {
        text-align: center;
        max-width: 100%;
        max-height: 100%;
        }

        .exp{
        color:goldenrod;
        line-height: 1.5pt;
	    font-family:serif;
	    font-size:1.15em;
        text-align: left;
        }

        .expdesc{
        color:black;
	   font-family:serif;
        font-style: italic;
	   font-size:1.1em;
        text-align: center;
        }

        .expdate{
        font-family: serif;
        text-align: right;
        }

    #nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 1.5em 0 1.5em 0;
		z-index: 1;
		overflow: hidden;
        }

    #nav > ul > li {
				display: inline-block;
				margin: -9px 0.5em 0 0.5em;
				border-radius: 0.5em;
				padding: 0.85em;
				border: solid 1px transparent;
				-moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			}