{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <link href="{% static 'profil.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{{ name }}'s Resume</title>    
	</head>
	<body>
        <div style="background-image: url(https://www.everynation.org/wp-content/uploads/2018/02/Monthly-Website-Header-background.jpg)">
			<h1> <img src="http://icons.iconarchive.com/icons/enhancedlabs/lha-objects/128/Globe-icon.png"> Welcome to my Profile!</h1>
		</div>
        <nav id="nav">
            <ul>
            <li><a href="https://myafirst-app.herokuapp.com/">Profile</a></li>
            <li><a href="https://myafirst-app.herokuapp.com/my_resume/">Resume</a></li>
            <li><a href="https://myafirst-app.herokuapp.com/portfolio/">Portfolio</a></li>
            </ul>
        </nav>
		<div>
			<div id="main">
                <h1>Resume</h1>
                <article>My Experiences</article>
                <p class="peng"><img src ="https://avatars0.githubusercontent.com/u/5721267?s=280&v=4"></p>
                <p class="exp"> {{ peng1 }} </p>
                <p class="expdate"> March 2019 - Present </p>
                <article class="expdesc"> {{ desc1 }} </article>
                <br>
                <p class="exp"> {{ peng2 }} </p>
                <p class="expdate"> May 2019 - Present </p>
                <article class="expdesc"> {{ desc2 }} </article>
			</div>
		</div>
	</body>
</html>