{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <link href="{% static 'profil.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{{ name }}'s Homepage</title>    
	</head>
	<body>
        <div style="background-image: url(https://www.everynation.org/wp-content/uploads/2018/02/Monthly-Website-Header-background.jpg)">
			<h1> <img src="http://icons.iconarchive.com/icons/enhancedlabs/lha-objects/128/Globe-icon.png"> Welcome to my Profile!</h1>
		</div>
        <nav id="nav">
            <ul>
            <li><a href="https://myafirst-app.herokuapp.com/">Profile</a></li>
            <li><a href="https://myafirst-app.herokuapp.com/my_resume/">Resume</a></li>
            <li><a href="https://myafirst-app.herokuapp.com/portfolio/">Portfolio</a></li>
            </ul>
        </nav>
        <section name="form">
            <h2>Send Message</h2>
            <form id="form" method="POST" action="{% url 'guestbook:message_post' %}">
                {% csrf_token %}
                {{ message_form }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </section>
        {% block content %}
        {% endblock %}
	</body>
</html>