{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <link href="{% static 'profil.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{{ name }}'s Homepage</title>    
	</head>
	<body>
        <div style="background-image: url(https://www.everynation.org/wp-content/uploads/2018/02/Monthly-Website-Header-background.jpg)">
			<h1> <img src="http://icons.iconarchive.com/icons/enhancedlabs/lha-objects/128/Globe-icon.png"> Welcome to my Profile!</h1>
		</div>
        <nav id="nav">
            <ul>
            <li><a href="https://myafirst-app.herokuapp.com/">Profile</a></li>
            <li><a href="https://myafirst-app.herokuapp.com/my_resume/">Resume</a></li>
            <li><a href="https://myafirst-app.herokuapp.com/portfolio/">Portfolio</a></li>
            </ul>
        </nav>

        <p class="aligncenter">
            <img src="https://i.ibb.co/xqkbK5q/Archie01.jpg" alt="Archie01">
        </p>
		<div>
			<div id="main">
                <h1>Hello! My name is {{ name }}</h1>
                <article>NPM : {{ npm }}</article>
                <article>I am {{ age }} years old</article>
                <article>Wanna know more about me?</article>
                <br>
                <p> Place, Date of Birth: {{ ttl }} </p>
                <p> Place of Origin: {{ asal }} </p>  
                <p> Current Education: {{ kuliah }} </p>
                <p> Institution: {{ univ }} </p>
			</div>
                <p class="harapan"> About Me: </p>
                <p class="harapanans"> {{ ans }} </p>
		</div>
	</body>
</html>